.border-table {
  border: 1.5px solid #c19d56;
  padding: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

.table td {
  border-top: 0;
  padding: 0.5rem;
}

.table-hours {
  width: 340px;
}

.contact-info-item {
}

span.adress-icon svg {
  width: 30px;
  height: 30px;
  fill: #c19d56;
}
