.home img {
  /* max-height: 300px;
  width: auto; */
}

.home {
  text-align: center;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1581344535097-4160879a1b28?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
  height: 100vh;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 50px;
}

.hero-h1 {
  font-size: 40px;
  line-height: 70px;
  font-weight: 400;
  color: #c19d56;
  font-family: "Great Vibes";
}

.hero-p {
  font-size: 65px;
  font-weight: 600;
  color: #ffffff;
  font-family: Montserrat;
}

.hero .small-line {
  height: 1px;
  width: 100px;
  background: #c19d56;
}

.hero-p-descrip {
  font-size: 18px;
  font-family: "Cormorant", serif;
  font-style: italic;
  color: #ffffff;
  margin-top: 20px;
  width: 300px;
}

/* .home-text-space {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 80 88' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 21.91V26h-2c-9.94 0-18 8.06-18 18 0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73 3.212-6.99 9.983-12.008 18-12.73V62h2c9.94 0 18-8.06 18-18 0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73-3.212 6.99-9.983 12.008-18 12.73zM54 58v4.696c-5.574 1.316-10.455 4.428-14 8.69-3.545-4.262-8.426-7.374-14-8.69V58h-5.993C12.27 58 6 51.734 6 44c0-7.732 6.275-14 14.007-14H26v-4.696c5.574-1.316 10.455-4.428 14-8.69 3.545 4.262 8.426 7.374 14 8.69V30h5.993C67.73 30 74 36.266 74 44c0 7.732-6.275 14-14.007 14H54zM42 88c0-9.94 8.06-18 18-18h2v-4.09c8.016-.722 14.787-5.738 18-12.73v7.434c-3.545 4.262-8.426 7.374-14 8.69V74h-5.993C52.275 74 46 80.268 46 88h-4zm-4 0c0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73v7.434c3.545 4.262 8.426 7.374 14 8.69V74h5.993C27.73 74 34 80.266 34 88h4zm4-88c0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73v-7.434c-3.545-4.262-8.426-7.374-14-8.69V14h-5.993C52.27 14 46 7.734 46 0h-4zM0 34.82c3.213-6.992 9.984-12.008 18-12.73V18h2c9.94 0 18-8.06 18-18h-4c0 7.732-6.275 14-14.007 14H14v4.696c-5.574 1.316-10.455 4.428-14 8.69v7.433z' fill='%23c19d56' fill-opacity='0.15' fill-rule='evenodd'/%3E%3C/svg%3E");

  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  line-height: 70px;
  font-weight: 400;
  color: rgb(193, 157, 86);
  font-family: "Great Vibes";
} */

.home-title {
  margin: 4rem;
}

.home-title-h2,
.home-title-h3 {
  text-transform: uppercase;
}

.home-title-h2-p {
  font-family: "Great Vibes";
  font-size: 2.8rem;
  color: rgb(193, 157, 86);
}

.home-text {
  font-size: 18px;
  font-family: "Cormorant", serif;
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 20px;
}

.signature {
  width: 150px;
}

.no-link,
.no-link:hover,
.no-link:visited,
.no-link:active {
  color: #333;
  text-decoration: none;
}
