.footer {
  background-color: #280104;
  color: rgb(193, 157, 86);
  height: 100%;
}

.footer h5 {
  font-family: "Great Vibes";
  /* font-size: 2.8rem; */
}

.footer .logo-name {
  color: #e2dbcd;
  margin: 15px 0 0;
}

/* .footer .social-media {
} */

.footer-bottom {
  border-top: 1px solid #c19d56;
  margin-top: 30px;
  padding-top: 10px;
  color: #514837;
}

.social-media-icon {
  margin: 0 15px;
}

a.social-media-icon svg {
  width: 27px;
  height: 27px;
}

a.social-media-icon,
a.social-media-icon:visited {
  fill: #c19d56;
  transition: all 0.5s;
}

a.social-media-icon:hover,
a.social-media-icon:active {
  fill: #e2dbcd;
}

.footer-navbar-item,
.footer-navbar-item:visited {
  color: #c19d56;
  margin-right: 20px;
}

.footer-navbar-item:hover,
.footer-navbar-item:active {
  text-decoration: none;
  color: #e2dbcd;
}
