.header img {
  width: 100px;
  height: auto;
}

.header .logo {
  width: 200px;
}

.header .shopping-cart {
  fill: #c19d56;
}

.navbar-item,
.navbar-item:visited {
  color: #333;
  margin-right: 20px;
}

.navbar-item:hover,
.navbar-item:active {
  text-decoration: none;
  color: #c19d56;
}
