body {
  color: #280104;
}

.icon,
.icon-heart {
  fill: #c19d56;
}

/* .icon-heart-hover {
  background: url(../../src/assets/icons/wishlist-heart-outline.svg);
  fill: #c19d56;
} */

.gold-border {
  border: 1px solid #c19d56;
  padding: 25px;
  margin-bottom: 30px;
}
